html{background-color: #141414;}
h1{
   border-style: solid;
   border-color: gray;
   padding: 10px;
   background-color: #404040;
   color:whitesmoke;
   text-align: center;}

#button1{background-color: #404040;
   color: whitesmoke;
   border-style: solid;
   border-color: #404040;
   padding: 7px;
   font-size: 20px;
   align-self: center;
   transition-duration: 0.7s;}

#button2{background-color: #404040;
   color: whitesmoke;
   border-style: solid;
   border-color: #404040;
   padding: 7px;
   font-size: 20px;
   align-self: center;
   transition-duration: 0.7s;}

   #button3{background-color: #404040;
   color: whitesmoke;
   border-style: solid;
   border-color: #404040;
   padding: 7px;
   font-size: 20px;
   align-self: center;
   transition-duration: 0.7s;}

#button1:hover{
   background-color: white;
   color:#404040;
}

#button2:hover{
   background-color: white;
   color:#404040;
}

#button3:hover{
   background-color: white;
   color:#404040;
}
table, th, td{
   border:1px solid gray;
   border-collapse: collapse;
}
th,td{
   background-color: #404040;
   color:white;
   padding:3px ;
   font-size:20px;
}
#button_E{
   font-size:30px;
   padding: 15px;
   border-style: solid;
   border-color: #404040;
   background-color:#404040 ;
   color:white;
}

#button_E:hover{ 
   background-color: white;
   color:#404040;}

   table{
      position: fixed;
      right:50; top:260px; 
   }
   video{position:fixed;
      top: 200px;
      right:125;
      left:275;}

#b_d{background-color: #404040;
   color: whitesmoke;
   border-style: solid;
   border-color: #404040;
   padding: 10px;
   font-size: 20px;
   align-self: center;
   transition-duration: 0.7s;
   font-style: italic;}

#b_d:hover{background-color: white;
   color:#404040;}
  
#b_d{position: fixed;
     right: 50px;
     bottom: 25px;
   
      }
